<div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="900000">
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2 active">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400/000/fff?text=1" alt="slide 1">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=2" alt="slide 2">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=3" alt="slide 3">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=4" alt="slide 4">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=5" alt="slide 5">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=6" alt="slide 6">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=7" alt="slide 7">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
                <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=8" alt="slide 8">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=9" alt="slide 9">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=10" alt="slide 10">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=11" alt="slide 11">
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=12" alt="slide 12">
            </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
            <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=13" alt="slide 13">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <i class="fa fa-chevron-left fa-lg text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
            <i class="fa fa-chevron-right fa-lg text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>







<!--
<div class="sliders--container" style="display: block;">
	<div class="container">
		<a class="SlidesPrev"><i class="fa fa-chevron-right"></i></a>
		<a class="SlidesNext"><i class="fa fa-chevron-left"></i></a>
		<div class="sliders--slides owl-rtl owl-loaded owl-drag">
			<div class="owl-stage-outer">
				<div class="owl-stage" style="transform: translate3d(1890px, 0px, 0px); transition: all 0.4s ease 0s; width: 5130px;">
					<div class="owl-item cloned" style="width: 255px; margin-left: 15px;">
						<div class="itemtype_slider">
							<a href="https://m.xsanime.com/anime/gintama/" title="Gintama">
							<div class="itemtype_slider_poster">
							<img src="https://www.xsanime.com/wp-content/uploads/2019/12/7239l.jpg" alt="Gintama">
							</div>
							<div class="title__box">Gintama</div>
							</a>
						</div>
					</div>
					<div class="owl-item cloned" style="width: 255px; margin-left: 15px;">
						<div class="itemtype_slider">
							<a href="https://m.xsanime.com/anime/one-piece/" title="One Piece">
							<div class="itemtype_slider_poster">
							<img src="https://www.xsanime.com/wp-content/uploads/2019/12/73245l.jpg" alt="One Piece">
							</div>
							<div class="title__box">One Piece</div>
							</a>
						</div>
					</div>
					<div class="owl-item cloned" style="width: 255px; margin-left: 15px;">
						<div class="itemtype_slider">
							<a href="https://m.xsanime.com/anime/shaman-king-2021/" title="Shaman King (2021)">
							<div class="itemtype_slider_poster">
							<img src="https://ww.xsanime.com/wp-content/uploads/2021/03/ezgif-4-903aab729619.png" alt="Shaman King (2021)">
							</div>
							<div class="title__box">Shaman King (2021)</div>
							</a>
						</div>
					</div>
					<div class="owl-item cloned" style="width: 255px; margin-left: 15px;">
						<div class="itemtype_slider">
							<a href="https://m.xsanime.com/movie/%d9%81%d9%8a%d9%84%d9%85-violet-evergarden-movie/" title="فيلم Violet Evergarden Movie">
							<div class="itemtype_slider_poster">
							<img src="https://m.xsanime.com/wp-content/uploads/2021/02/ezgif-6-19aa87f523a0-177x250.png" alt="فيلم Violet Evergarden Movie">
							</div>
							<div class="title__box">فيلم Violet Evergarden Movie</div>
							</a>
						</div>
					</div>
					<div class="owl-item cloned" style="width: 255px; margin-left: 15px;">
						<div class="itemtype_slider">
							<a href="https://m.xsanime.com/movie/%d9%81%d9%8a%d9%84%d9%85-kimetsu-no-yaiba-movie-mugen-ressha-hen-%d8%a8%d9%84%d9%88%d8%b1%d8%a7%d9%8a/" title="فيلم Kimetsu no Yaiba Movie: Mugen Ressha-hen بلوراي">
							<div class="itemtype_slider_poster">
							<img src="https://m.xsanime.com/wp-content/uploads/2021/04/114334l-177x250.jpg" alt="فيلم Kimetsu no Yaiba Movie: Mugen Ressha-hen بلوراي">
							</div>
							<div class="title__box">فيلم Kimetsu no Yaiba Movie: Mugen Ressha-hen بلوراي</div>
							</a>
						</div>
					</div>
					<div class="owl-item" style="width: 255px; margin-left: 15px;">
						<div class="itemtype_slider">
							<a href="https://m.xsanime.com/anime/black-clover/" title="Black Clover">
							<div class="itemtype_slider_poster">
							<img src="https://ww.xsanime.com/wp-content/uploads/2020/12/131981984_3462541220461475_3077187689897646656_o.jpg" alt="Black Clover">
							</div>
							<div class="title__box">Black Clover</div>
							</a>
						</div>
					</div>
					<div class="owl-item" style="width: 255px; margin-left: 15px;">
						<div class="itemtype_slider">
							<a href="https://m.xsanime.com/anime/boruto-naruto-next-generations/" title="Boruto: Naruto Next Generations">
							<div class="itemtype_slider_poster">
							<img src="https://ww.xsanime.com/wp-content/uploads/2021/06/f10dca455d8f36f5906205b8980b50dc1624257509_main.png" alt="Boruto: Naruto Next Generations">
							</div>
							<div class="title__box">Boruto: Naruto Next Generations</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-nav">
				<button type="button" role="presentation" class="owl-prev">
					<span aria-label="Previous">‹</span>
				</button>
				<button type="button" role="presentation" class="owl-next">
					<span aria-label="Next">›</span>
				</button>
			</div>
			<div class="owl-dots">
				<button role="button" class="owl-dot active">
					<span></span>
				</button>
				<button role="button" class="owl-dot">
					<span></span>
				</button>
				<button role="button" class="owl-dot">
					<span></span>
				</button>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
-->