{% extends 'anime/base.html' %}
{% block style %}
    .chap_img {
    width: 40px ;
    height: 55px ;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 5px;
    }
    .manga_header{
    margin-left:5%;
    margin-bottom: 3%;
    }

    .card {
    border: none;
    max-height: 500px;
    }

    .card-img-top {
    height: 210px;
    }

    .chapters > span {
    width: 180px;
    }

{% endblock style %}
{% block content %}
    <div class="container">
        <h1 class="manga_header">Manga</h1>
        <div class="row justify-content-center">
            {% for m in manga %}
                <div class="card col-lg-2 col-md-6 col-sm-9 mr-2 ml-2 mb-4" style="width: 18rem;">
                    <img src="/media/poster.webp" class="card-img-top rounded" alt="...">
                    <div class="">
                        <a href="{% url 'manga' m.title %}"><p class="mt-2">{{ m.title }}</p></a>
                        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            {% endfor %}
            <a href="{% url "all-manga" %}" class="btn btn-primary mt-20">See All</a>
        </div>
    </div>
    <br>
    <div class="container">
        <h1 class="">Latest Chapter</h1>
        <ul class="list-group">
            {% for chap in chapters %}
                <li class="list-group-item d-flex mb-2">
                    <img src="/media/poster.webp" class="chap_img">
                    <div class="chapters">
                        <a href="{% url "chapter:details" chap.manga.title chap.id %}"
                           class="d-block fs-3">{{ chap.manga.title }}</a>
                        <span class="d-block p-1 bg-primary rounded-pill text-white">Chapter {{ chap.chapter_number }} <span
                                class="bg-danger pr-2 pl-2 rounded-pill text-white">New</span></span>
                    </div>
                </li>
                <span></span>
            {% endfor %}
        </ul>
        <a href="{% url "chapter:latest" "latest" %}" class="btn btn-primary mt-20">See All</a>
    </div>


{% endblock content %}