{% extends 'anime/base.html' %}

{% block style %}
	.manga_header{
		margin-left:10%;
	}

	.card {
		border: none;
		max-height: 500px;
	}

{% endblock style %}

{% block content %}
	<div class="container ">
		<div class="row justify-content-center">
			<h1 class="manga_header">{{ list.name }}</h1>
			{% for obj in list.listitem_set.all %}
			<div class="card col-lg-2 col-md-6 col-sm-9 mr-2 ml-2 mb-4" style="width: 18rem;">
			  	<img src="/media/poster.webp" class="card-img-top rounded" alt="...">
			 	<div class="">
			    	<a href="{% url 'main:manga:details' obj.manga.id %}"><p  class="mt-2">{{ obj.manga.title }}</p></a>
			    	<!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
			  	</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div style="text-align: center;margin: 20px;" class="mb-10">
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
			<a class="btn btn-outline-info" href="?page=1">First</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}

			{% if page_obj.number == num %}
				<a class="btn btn-info" href="?page={{ num }}">{{ num }}</a>
			{% elif page_obj.number > num|add:'-3' and page_obj.number < num|add:'3' %}
				<a class="btn btn-outline-info" href="?page={{ num }}">{{num}}</a>
			{% endif %}

		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
			<a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
		{% endif %}
	</div>
{% endblock content%}